
    <!-- CHvbnXF@M=9- parol -->
    <!-- 
        protsessor: core i 7, 10 pakalenya, k versiya
        video carta: GTX 1650 t i yoki RTX 1650 t i 4
        Operativka , 16 gb
        SSD 256 gb
        HDD 1 terabayt.

        Zuhriddin Muhammadiyev 3ds max 97 001 71 793
     -->
     

        <!-- HERO
    ================================================== -->
    <section class="py-15 pt-xl-14 mt-n14 pb-lg-15 bg-dark bg-cover position-relative">
        <!-- Cursor position parallax -->
        <div class="position-absolute right-0 left-0 top-0 bottom-0">
            <div class="cs-parallax">
                <div class="cs-parallax-layer" data-depth="0.1">
                    <img class="img-fluid" src="assets/img/parallax/layer-01.svg" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.3">
                    <img class="img-fluid" src="assets/img/parallax/layer-02.svg" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.2">
                    <img class="img-fluid" src="assets/img/parallax/layer-03.svg" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.2">
                    <img class="img-fluid" src="assets/img/parallax/layer-04.svg" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.4">
                    <img class="img-fluid" src="assets/img/parallax/layer-05.svg" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.3">
                    <img class="img-fluid" src="assets/img/parallax/layer-06.svg" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.2">
                    <img class="img-fluid" src="assets/img/parallax/layer-07.svg" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.2">
                    <img class="img-fluid" src="assets/img/parallax/layer-08.svg" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.4">
                    <img class="img-fluid" src="assets/img/parallax/layer-09.svg" alt="Layer">
                </div>
                <div class="cs-parallax-layer" data-depth="0.3">
                    <img class="img-fluid" src="assets/img/parallax/layer-10.svg" alt="Layer">
                </div>
            </div>
        </div>

        <div class="container home_container">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 col-lg-6 order-md-2" data-aos="fade-in">

                    <!-- Image -->
                    <img src="/assets/img/illustrations/Programming-amico.svg" class="img-fluid ms-xl-5 mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="...">

                </div>
                <div class="col-12 col-md-7 col-lg-6 order-md-1">
                    <!-- Heading -->
                    <h1 class="display-2 text-white mb-6" data-aos="fade-left" data-aos-duration="150">
                        Tasnim <span class="display-1 text-orange fw-bold">Texnologiya Akademyasi</span>
                    </h1>


                    <!-- Text -->
                    <p class="text-white text-capitalize shior" data-aos="fade-up" data-aos-duration="200">
                        Porloq kelajagingizni birga yaratamiz.
                    </p>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
        <!-- Shape -->
        <div class="shape shape-blur mb-n-1 shape-bottom shape-fluid-x svg-shim text-white-ice">
            <svg viewbox="0 0 1920 230" fill="none" xmlns="http://www.w3.org/2000/svg">
            	<path fill="currentColor" d="M0,229l1920,0V-0.4c0,25.8-19.6,47.3-45.2,49.8L54.8,223.8C25.4,226.6,0,203.5,0,174V229z"></path>
            </svg>

        </div>
    </section>

    <!-- ICON BLOCKS
    ================================================== -->
    <section class="py-5 pt-md-11 pb-md-12 bg-white-ice text-center">
        <div class="container">
            <div class="mb-md-8 mb-4">
                <h1 class="mb-1">Nega aynan Tasnim.</h1>
                <p class="font-size-lg mb-0 text-capitalize">Biz Bilan Kelajagingizni Yarating.</p>
            </div>

            <div class="row row-cols-md-3">
                <div class="col-md mb-4 mb-md-0">
                    <div class="p-5 d-inline-block rounded-circle mb-6" style="border: 1px solid #F8C994;">
                        <div class="icon-circle icon-circle-lg" style="background-color: #f5debc; color: #EE8E00;">
                            <!-- Icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="50" viewBox="0 0 512 476" fill="currentColor">
                                <path d="M12.8024 2.10001C8.00241 4.39999 4.00241 8.70001 1.60241 14C0.202406 17.2 0.00240588 30.7 0.00240588 150C0.00240588 294.7 -0.297594 286.7 5.80241 293.7C12.6024 301.5 4.70241 301 119.302 301C220.202 301 221.502 301 221.502 299C221.502 297.3 225.102 285.2 227.002 280.7C227.702 279.1 223.602 279 148.702 279H69.6024L69.0024 275.3C67.1024 262.5 63.3024 254.1 55.9024 246.6C47.8024 238.3 39.5024 234.2 27.3024 232.5L22.5024 231.8V150.5V69.3L30.0024 68.1C39.9024 66.5 48.5024 62.1 55.4024 55C63.3024 47 67.1024 38.9 69.0024 25.7L69.6024 22H255.502H441.402L442.002 25.7C443.902 38.9 447.702 47 455.602 55C462.502 62.1 471.102 66.5 481.002 68.1L488.502 69.3V150.6C488.502 195.4 488.302 232 488.002 232C487.702 232 491 249.5 487 246.5C505.5 247.1 489.502 232 487 246.5L488.002 263.5L487 245C487.22 234 487.5 220 487 245C488.002 260 487.902 273.9 487.902 289.2L488.002 302L491.502 301.4C496.502 300.5 500.402 298.3 504.702 294.2C512.002 287.3 511.602 296.4 511.302 149.4L511.002 17.5L508.702 12.8C506.102 7.59998 501.802 3.5 496.802 1.29999C494.102 0.199982 452.902 0 255.302 0H17.0024L12.8024 2.10001Z" fill="currentColor"/>
                                <path d="M67.6318 128.341C50.5318 131.841 43.1318 152.341 54.3318 165.341C63.5318 176.241 79.3318 176.841 88.8318 166.741C97.0318 158.141 96.6318 142.341 88.0318 134.241C82.9318 129.541 74.3318 127.041 67.6318 128.341Z" fill="currentColor"/>
                                <path d="M433.8 128.593C422.7 131.193 416 139.593 416 150.993C416 164.193 425.5 173.793 438.6 173.793C446 173.793 451.4 171.293 456.4 165.393C470.3 149.193 454.8 123.793 433.8 128.593Z" fill="currentColor"/>
                                <path d="M319.506 232.9C319.506 233.4 321.106 234.1 323.006 234.4C324.906 234.8 329.806 236.4 333.806 238.1L341.006 241L343.206 238.3C346.006 234.9 345.306 234.4 335.906 233C327.306 231.8 319.506 231.7 319.506 232.9Z" fill="currentColor"/>
                                <path d="M406.1 198.288C398 199.688 387.9 202.788 382.2 205.788C376.4 208.688 374.6 211.288 374.6 216.988C374.6 221.488 375 222.288 378.1 224.888C382.5 228.588 385.6 228.588 395.9 224.788C415.7 217.588 438.2 219.488 455.9 229.988C459 231.788 465.2 236.888 469.7 241.388C476.5 248.088 478.6 250.988 482.4 258.888C493 280.588 492.3 304.188 480.7 323.888C475.7 332.188 474.7 335.988 476.1 340.388C478.5 347.488 488.2 350.188 494 345.188C498 341.888 506.5 324.688 509.3 314.288C511.1 307.588 511.4 303.488 511.5 289.288C511.5 273.488 511.3 271.688 508.7 263.288C499.7 233.788 477.6 210.888 449.6 201.888C434.1 196.888 420.7 195.788 406.1 198.288Z" fill="currentColor"/>
                                <path d="M306 220.886C294.5 222.086 286.7 224.386 275.5 229.786C253.7 240.386 238.4 256.886 229 279.986C224.9 289.886 223 300.486 223 313.186C223 329.886 225.8 341.286 233.2 355.786C237.9 364.986 249 379.186 253 381.286C259.1 384.386 265.7 382.486 268.7 376.686C270.8 372.486 270.4 368.486 267.4 364.486C265.8 362.586 262.7 358.586 260.4 355.586C251.5 344.286 247.2 332.186 246.4 316.786C245.7 303.086 247.6 294.186 253.7 281.786C257.6 274.086 259.9 270.886 266.5 264.286C292.7 238.186 333.8 236.586 361.6 260.686C369.3 267.286 372.4 268.486 377.6 266.786C385.3 264.286 387.5 255.186 382 248.486C375.9 241.086 360.5 230.986 347.4 225.886C336.5 221.586 318.9 219.486 306 220.886Z" fill="currentColor"/>
                                <path d="M416.4 255.885C410.7 257.585 409.1 261.185 409.1 272.785V282.985L412.5 286.385C415.2 289.085 416.7 289.785 419.8 289.785C425.1 289.785 429.6 286.785 431.1 282.285C432.6 277.685 432 263.085 430.1 260.185C427.5 256.085 421.9 254.285 416.4 255.885Z" fill="currentColor"/>
                                <path d="M308.9 280.788C303.2 285.188 302.8 293.288 308 298.288C313.1 303.088 321.8 301.888 325.4 295.788C328.4 290.788 326.8 283.788 321.9 280.388C318.7 278.188 311.9 278.388 308.9 280.788Z" fill="currentColor"/>
                                <path d="M359.6 291.187C343.7 293.987 330.7 299.487 318.3 308.787C301.8 321.187 290.7 337.087 284.5 357.287C282 365.487 281.7 367.787 281.7 382.287C281.6 392.887 282.1 400.187 283 403.787C291.8 438.487 318.4 465.087 353.1 473.887C356.7 474.787 364 475.287 374.6 475.187C389.1 475.187 391.4 474.887 399.6 472.387C419.8 466.187 435.7 455.087 448.1 438.587C471.1 407.987 472.9 368.287 453 334.487C447.4 324.987 431.9 309.487 422.4 303.887C402.8 292.287 379.9 287.687 359.6 291.187ZM393.7 316.287C416.4 322.887 435.3 342.487 441.2 365.687C443.4 374.387 443.8 389.287 442 397.587C434.9 430.787 403.5 454.587 369.6 452.487C319.7 449.387 289.5 397.187 311.7 352.087C326.6 321.887 361.1 306.787 393.7 316.287Z" fill="currentColor"/>
                                <path d="M370.9 348.587C367.4 348.987 363.5 352.987 362.7 356.887C362.4 358.687 362.1 370.787 362.1 383.987C362.1 410.487 362.6 413.487 368 416.187C373.1 418.887 377.8 418.287 381.7 414.387L385.1 410.987V383.087C385.1 355.787 385.1 355.287 382.8 352.487C380.5 349.587 375.7 347.987 370.9 348.587Z" fill="currentColor"/>
                                <path d="M232.5 53C199.3 56 168.1 77.8 153 108.5C144.8 125.2 143.5 131.2 143.5 153.5C143.5 175.6 144.7 181.5 153 198.5C165.5 224.3 190.3 244.4 218.4 251.5C226.8 253.6 230.5 254 243.5 254C256.5 254 260.2 253.6 268.6 251.5C304 242.5 332.3 214.3 341.6 178.5C343.9 169.9 344.2 166.5 344.2 153.5C344.2 140.5 343.9 137.2 341.6 128.5C328.7 79.4 283.8 48.3 232.5 53ZM261.4 129.1C258.4 132.2 258.4 132.7 261.5 135.2C264.9 137.9 264.9 142.4 261.4 144.7C259 146.2 258.5 146.2 256.1 144.9C250.3 141.6 250.8 133 257.1 126.7C260.9 122.9 261.1 122.8 262.5 124.6C263.7 126.3 263.6 126.8 261.4 129.1ZM195.8 130.2C198.1 130.8 200.3 131.7 200.6 132.1C200.9 132.6 200.5 134.8 199.9 137C198.8 140.5 198.3 141 196.6 140.5C185.3 136.8 179.5 137.5 179.5 142.5C179.5 145.8 180.8 146.7 190.3 150.1C205 155.4 208.6 169.5 197.3 177.4C193.7 179.9 192 180.4 185.3 180.7C179.7 180.9 176.1 180.5 172.5 179.3C167.2 177.4 166.8 176.4 168.9 170.7C169.9 168.1 170 168.1 173.6 169.6C178.4 171.6 187.3 171.8 189.5 170C190.4 169.2 191 167.6 190.8 166.1C190.5 163.8 189.3 163 181.7 160C170.9 155.7 167 152 166.3 145.8C164.8 132.3 177.6 125.5 195.8 130.2ZM243.7 142.1C256.3 146.8 258.9 167.1 248.2 176.2C241.3 181.9 230.4 182.5 223 177.6C211.3 169.9 212.6 149.4 225.2 143.1C230 140.8 238.9 140.3 243.7 142.1ZM277.8 143.7L278.1 146L281.8 143.5C286.9 140 295.6 140 299.7 143.4L302.5 145.8L306 143.4C308.6 141.6 310.8 141 315 141C326 141 328 144.8 328 165.5V180H322H316V166.9C316 159.7 315.5 153 315 151.9C313.7 149.6 309.3 149.4 306.2 151.6C304.1 153 304 153.8 304 166.6V180H298H292V166.9C292 159.7 291.5 153 291 151.9C289.7 149.6 285.3 149.4 282.2 151.6C280.1 153 280 153.8 280 166.6V180H274H268V160.4V140.9L272.8 141.2C276.8 141.5 277.5 141.8 277.8 143.7Z" fill="currentColor"/>
                                <path d="M229.3 152.699C226.6 156.799 227 166.299 230 169.499C236.6 176.499 244.6 168.099 242.1 156.899C241 151.799 238.9 149.999 234.3 149.999C231.9 149.999 230.6 150.699 229.3 152.699Z" fill="currentColor"/>
                                </svg>

                        </div>
                    </div>

                    <h4>Qulay narxlar</h4>
                    <p class="px-lg-7 px-xl-8">Toshkentda dasturlash kurslari o'rtacha 700 000 ming so'm <span class="quality_price">Bizda esa yarim narxiga 350 000 ga o'rganing</span>.</p>
                </div>

                <div class="col-md mb-4 mb-md-0">
                    <div class="p-5 d-inline-block rounded-circle mb-6" style="border: 1px solid #B7B3F8;">
                        <div class="icon-circle icon-circle-lg" style="background-color: #d3d8f8; color: #5066F5;">
                            <!-- Icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="50.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="currentcolor" stroke="none">
                                <path d="M2216 4980 c-16 -77 -34 -146 -40 -154 -6 -7 -36 -21 -66 -30 -30 -10 -96 -37 -147 -61 l-92 -43 -128 84 -128 83 -219 -218 -219 -219 41 -97 c23 -53 42 -100 42 -104 0 -5 -33 -11 -73 -14 -161 -14 -306 -93 -404 -222 -101 -132 -127 -235 -120 -470 3 -104 10 -176 20 -206 32 -97 80 -174 153 -248 41 -40 74 -81 74 -90 0 -13 -25 -23 -114 -45 l-115 -28 -207 121 -206 121 -134 0 -134 0 2 -857 3 -856 400 -134 400 -133 85 2 c81 3 84 4 90 28 3 14 10 25 16 25 5 0 61 -31 125 -68 114 -69 115 -69 126 -118 24 -99 111 -184 202 -196 36 -5 39 -8 44 -45 12 -90 97 -177 195 -200 46 -11 52 -16 52 -38 0 -15 12 -50 27 -79 31 -62 89 -108 165 -131 49 -15 51 -17 63 -63 17 -69 61 -125 124 -161 69 -38 162 -42 226 -9 l40 21 45 -40 c62 -55 113 -79 180 -85 130 -12 243 69 273 197 11 47 13 49 53 55 90 13 175 100 196 201 8 39 13 44 36 44 92 1 211 120 212 212 0 22 6 29 28 34 62 13 112 37 146 70 48 46 67 85 73 151 l6 54 743 372 744 372 0 602 0 603 -96 0 -96 0 -134 -71 -135 -71 -47 20 c-26 11 -127 39 -224 63 -142 35 -178 47 -178 60 0 9 33 50 74 90 74 74 121 152 153 248 9 29 17 102 20 196 6 183 -8 263 -68 384 -93 189 -297 321 -495 321 l-43 0 46 106 46 106 -219 218 -219 219 -128 -83 -128 -84 -92 43 c-51 24 -117 51 -147 61 -30 9 -60 23 -66 30 -6 8 -24 77 -40 154 l-28 140 -316 0 -316 0 -28 -140z m554 -163 c15 -70 29 -129 31 -130 2 -2 49 -16 104 -32 55 -16 156 -57 224 -92 141 -71 117 -73 253 19 48 32 93 58 100 58 18 0 258 -242 258 -260 -1 -8 -20 -60 -44 -115 -39 -92 -46 -102 -87 -124 -24 -13 -66 -42 -93 -64 -42 -35 -50 -38 -58 -24 -25 46 -137 174 -195 222 -159 135 -329 216 -527 250 -374 64 -767 -84 -1004 -380 -34 -41 -65 -83 -70 -92 -9 -15 -14 -14 -47 13 -20 16 -62 45 -93 65 -53 33 -59 41 -99 134 -24 54 -43 105 -43 114 0 19 239 261 258 261 7 0 52 -26 100 -58 136 -92 112 -90 253 -19 68 35 169 76 224 92 55 16 102 30 104 31 2 2 14 54 28 116 13 62 26 121 29 131 5 16 21 17 186 15 l181 -3 27 -128z m-40 -459 c244 -46 461 -196 604 -417 l28 -43 -29 -87 c-26 -81 -28 -96 -28 -256 1 -195 13 -258 72 -365 20 -36 67 -95 105 -133 37 -37 68 -75 68 -85 0 -14 -29 -25 -165 -58 l-165 -41 -165 41 c-137 34 -165 44 -165 59 0 10 28 44 63 76 73 69 129 158 160 256 19 61 22 92 22 240 0 136 -4 182 -18 230 -65 212 -231 373 -433 421 -90 21 -225 14 -311 -16 -169 -59 -308 -201 -364 -372 -22 -66 -24 -90 -24 -253 0 -158 3 -188 22 -250 31 -98 87 -187 161 -256 34 -32 62 -66 62 -76 0 -15 -28 -25 -165 -59 l-165 -41 -165 41 c-131 32 -165 44 -165 57 0 9 31 48 68 85 38 38 85 98 105 134 59 106 72 170 71 360 0 156 -2 170 -30 251 l-29 86 30 50 c195 322 574 491 945 421z m-1352 -340 c101 -38 200 -137 243 -245 22 -53 24 -73 24 -233 l0 -175 -34 -69 c-37 -77 -103 -149 -169 -186 l-43 -24 3 -130 3 -130 135 -34 c74 -18 136 -35 138 -37 2 -2 -7 -19 -21 -37 -54 -72 -84 -162 -90 -268 l-2 -44 -120 -28 c-66 -15 -122 -27 -125 -28 -3 0 -4 39 -2 88 l3 87 -214 125 c-119 69 -210 128 -204 131 7 4 47 15 90 25 l77 18 0 132 0 132 -49 32 c-68 43 -117 100 -155 179 -30 65 -31 70 -34 233 -3 138 -1 177 14 220 25 78 59 132 117 184 116 105 270 135 415 82z m1307 5 c135 -47 243 -170 275 -313 7 -34 11 -109 8 -200 -3 -134 -5 -150 -31 -204 -36 -79 -87 -139 -153 -183 l-54 -36 0 -131 0 -131 238 -59 c252 -63 314 -86 356 -137 54 -64 59 -89 60 -289 l1 -185 -37 -3 c-24 -2 -131 23 -300 71 -145 41 -286 78 -313 82 -28 4 -142 35 -255 70 -251 78 -265 82 -367 94 -77 10 -201 4 -336 -15 l-48 -7 7 44 c15 93 58 156 133 193 25 13 153 50 284 82 l237 59 0 131 0 132 -49 32 c-68 43 -117 100 -155 179 l-31 66 0 186 0 185 38 76 c92 187 302 277 492 211z m1320 0 c104 -33 187 -109 243 -221 l37 -76 0 -180 0 -181 -31 -66 c-38 -79 -87 -136 -155 -179 l-49 -32 0 -132 0 -132 200 -49 c152 -37 197 -52 187 -61 -13 -12 -872 -464 -881 -464 -3 0 -6 60 -6 133 0 171 -20 245 -87 335 -14 18 -23 35 -21 37 2 2 64 19 138 37 l135 34 3 130 3 130 -43 24 c-66 37 -132 109 -169 186 -32 67 -33 73 -37 219 -6 222 20 310 124 411 113 110 257 144 409 97z m-3482 -1224 c160 -94 293 -171 294 -172 3 -3 -294 -1187 -299 -1192 -2 -3 -82 21 -176 53 l-172 57 0 712 0 713 30 0 c21 0 119 -52 323 -171z m4427 -472 l0 -462 -693 -346 -693 -347 -364 329 c-419 378 -443 394 -570 394 -93 0 -116 -9 -299 -120 -200 -120 -215 -127 -256 -119 -72 13 -112 94 -81 167 14 34 32 45 283 170 280 140 348 165 426 152 23 -4 167 -43 320 -86 189 -54 294 -79 330 -79 49 0 94 23 817 404 421 223 768 405 773 405 4 1 7 -207 7 -462z m-3797 103 c6 -5 -296 -1094 -307 -1107 -5 -6 -166 52 -166 59 0 9 278 1124 285 1145 3 8 34 -5 92 -39 48 -28 92 -54 96 -58z m982 -130 c69 -11 235 -60 235 -69 0 -4 -95 -54 -212 -111 -300 -148 -333 -182 -333 -345 0 -106 16 -147 82 -212 50 -48 115 -73 192 -73 68 0 106 17 296 131 77 47 153 90 168 97 36 16 98 15 134 0 42 -19 735 -643 756 -681 33 -61 -9 -127 -82 -127 -35 0 -59 17 -272 195 -129 107 -236 194 -239 194 -6 0 -100 -115 -100 -122 0 -3 96 -85 213 -182 214 -178 247 -211 247 -253 0 -36 -52 -82 -92 -82 -42 0 -40 -1 -298 213 l-215 179 -52 -58 c-29 -33 -53 -61 -53 -64 0 -3 97 -86 216 -185 119 -99 222 -189 230 -200 22 -32 17 -78 -12 -106 -35 -33 -92 -31 -141 7 -75 56 -203 166 -203 175 0 4 -19 26 -42 48 -39 38 -109 71 -150 71 -13 0 -18 8 -18 28 0 15 -12 52 -27 81 -31 62 -89 108 -165 131 -49 15 -51 17 -63 62 -6 26 -24 65 -38 87 -29 43 -117 101 -154 101 -30 0 -49 22 -57 67 -17 99 -133 187 -246 186 -89 -1 -139 -29 -253 -143 l-99 -99 -120 71 c-65 39 -121 75 -124 79 -4 7 209 765 218 774 4 4 560 128 618 138 49 8 196 7 255 -3z m-452 -992 c34 -18 46 -40 47 -82 0 -35 -8 -46 -82 -123 -46 -47 -96 -91 -111 -100 -59 -30 -129 14 -129 83 0 34 9 46 99 136 104 102 126 113 176 86z m265 -258 c25 -24 37 -60 28 -92 -3 -13 -48 -65 -99 -116 -85 -85 -98 -94 -131 -94 -64 0 -106 57 -86 117 7 20 47 68 100 119 81 78 93 86 128 86 25 0 46 -7 60 -20z m257 -262 c46 -55 32 -89 -88 -205 -78 -76 -88 -83 -125 -83 -33 0 -45 6 -66 31 -46 54 -37 80 62 182 119 123 164 138 217 75z m242 -240 c52 -49 39 -94 -60 -195 -106 -110 -148 -126 -206 -77 -25 21 -31 33 -31 65 0 36 8 47 80 123 114 118 161 136 217 84z m255 -243 c10 -11 18 -35 18 -54 0 -82 -89 -108 -168 -50 -23 17 -42 34 -42 38 0 4 13 20 30 36 16 16 42 46 56 67 l27 39 31 -28 c17 -15 39 -37 48 -48z"/>
                                </g>
                                </svg>



                        </div>
                    </div>

                    <h4>Ish bilan ta'minlash</h4>
                    <p class="px-lg-7 px-xl-8">Kursni yaxshi tugatganlarni ish bilan ta'minlash. <span class="quality_price">Bizda yolg'on yo'q</span>.</p>
                </div>

                <div class="col-md mb-4 mb-md-0">
                    <div class="p-5 d-inline-block rounded-circle mb-6" style="border: 1px solid #B2F4DC;">
                        <div class="icon-circle icon-circle-lg" style="background-color: #b2f4dc; color: #00C27C;">
                            <!-- Icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="50.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="currentColor" stroke="none">
                                <path d="M1055 5069 c-166 -34 -332 -165 -405 -321 -88 -188 -77 -384 32 -558 23 -38 35 -66 29 -68 -26 -9 -117 -84 -152 -127 -21 -25 -50 -70 -64 -99 -51 -103 -55 -138 -55 -456 0 -289 1 -296 24 -345 25 -54 70 -98 126 -124 31 -14 102 -16 580 -16 544 0 545 0 590 22 l46 23 44 -23 c45 -22 46 -22 590 -22 540 0 545 0 588 22 l43 22 47 -22 c46 -21 59 -22 527 -25 264 -2 512 -1 552 3 94 9 164 49 208 119 l30 49 3 299 c3 327 -1 364 -55 476 -32 64 -126 170 -181 203 -21 13 -38 24 -40 25 -2 1 15 33 38 71 142 235 109 513 -84 708 -148 150 -349 207 -551 155 -205 -53 -367 -214 -420 -420 -13 -49 -16 -91 -12 -170 5 -117 26 -187 83 -278 19 -29 34 -56 34 -60 0 -4 -23 -22 -51 -41 -28 -19 -68 -54 -89 -78 l-39 -44 -23 31 c-22 30 -124 114 -149 122 -7 2 2 25 25 60 111 166 124 389 34 574 -45 95 -167 218 -260 262 -226 110 -491 66 -667 -109 -103 -103 -159 -226 -168 -374 -8 -133 23 -253 94 -357 19 -30 30 -54 24 -56 -26 -9 -130 -93 -151 -122 l-23 -32 -38 45 c-21 25 -64 61 -94 82 l-55 36 24 32 c39 52 75 132 92 204 21 90 14 235 -16 320 -59 168 -205 313 -369 364 -77 24 -223 33 -296 18z m209 -204 c113 -30 204 -106 254 -213 23 -49 27 -71 27 -152 0 -82 -4 -103 -27 -152 -83 -177 -274 -265 -454 -210 -222 69 -332 311 -235 518 38 80 87 134 159 172 99 53 176 63 276 37z m1254 5 c197 -46 330 -240 294 -431 -23 -126 -99 -227 -210 -281 -61 -30 -75 -33 -162 -33 -82 0 -103 4 -152 27 -80 37 -152 107 -191 187 -29 60 -32 73 -31 161 0 80 4 104 26 151 75 164 257 257 426 219z m1347 -29 c155 -72 244 -240 215 -403 -66 -364 -541 -433 -714 -103 -29 56 -31 67 -31 160 0 87 3 107 27 157 91 195 313 279 503 189z m-2891 -887 c129 -48 285 -44 427 11 45 18 45 18 106 -9 74 -34 134 -93 168 -167 l25 -56 -2 -284 -3 -284 -514 -3 c-383 -2 -517 1 -528 10 -12 9 -14 59 -11 292 3 315 6 330 83 414 32 36 141 102 168 102 5 0 42 -12 81 -26z m1281 -5 c50 -19 79 -23 180 -24 107 0 129 3 201 29 l82 29 54 -26 c75 -34 132 -87 165 -155 l28 -57 3 -281 c3 -233 1 -283 -11 -292 -11 -9 -145 -12 -528 -10 l-514 3 0 295 0 295 27 50 c34 65 90 118 158 150 60 28 67 28 155 -6z m1270 -1 c51 -19 78 -22 185 -22 112 0 132 3 194 27 59 23 74 26 106 17 95 -25 184 -118 215 -223 20 -66 22 -556 3 -575 -9 -9 -139 -12 -525 -12 -508 0 -512 0 -523 21 -8 14 -10 103 -8 282 5 314 9 329 102 423 62 61 130 97 171 89 11 -2 47 -14 80 -27z"/>
                                <path d="M4553 2821 c-74 -27 -124 -65 -243 -186 -58 -59 -189 -188 -292 -287 l-188 -180 -50 56 c-31 33 -74 66 -108 83 l-57 28 -535 6 c-568 8 -599 10 -820 63 -151 37 -280 49 -397 37 -294 -30 -563 -179 -770 -426 -42 -49 -80 -91 -84 -93 -4 -2 -43 30 -86 72 -84 80 -117 95 -162 76 -31 -12 -737 -740 -753 -776 -28 -61 -32 -57 568 -629 311 -297 588 -559 616 -582 66 -57 102 -58 159 -6 23 21 192 192 375 380 l334 342 0 45 c0 39 -5 51 -40 87 -22 23 -39 43 -38 44 2 1 50 8 108 15 73 9 343 15 895 20 716 6 796 8 855 24 91 25 216 86 275 133 53 42 912 1046 951 1110 122 206 20 453 -224 539 -86 30 -212 32 -289 5z m219 -193 c56 -16 125 -81 139 -129 23 -75 17 -83 -417 -595 -224 -264 -432 -505 -463 -537 -60 -63 -132 -105 -227 -133 -53 -16 -135 -18 -839 -24 -734 -5 -792 -7 -978 -29 l-198 -24 -77 74 c-42 41 -185 178 -316 306 l-239 232 29 42 c48 69 159 183 236 242 244 186 492 232 808 152 212 -54 259 -57 820 -64 524 -6 525 -6 557 -29 51 -36 76 -100 71 -181 -4 -83 -33 -131 -94 -161 -38 -19 -62 -20 -417 -20 -214 0 -386 -4 -401 -10 -34 -13 -58 -52 -58 -97 0 -29 7 -43 31 -65 l31 -28 398 0 c440 0 458 2 548 63 87 58 164 191 164 282 0 27 40 71 343 372 208 208 356 348 377 357 42 18 119 20 172 4z m-3458 -1292 l505 -490 -26 -30 c-14 -17 -137 -144 -273 -283 l-247 -253 -509 484 c-279 267 -510 488 -511 493 -4 11 537 575 548 571 4 -2 235 -223 513 -492z"/>
                                <path d="M2338 1735 c-31 -17 -52 -71 -42 -109 3 -14 20 -37 36 -51 66 -55 158 -12 158 75 0 80 -79 124 -152 85z"/>
                                </g>
                                </svg>

                        </div>
                    </div>

                    <h4>Qo'llab quvvatlash</h4>
                    <p class="px-lg-7 px-xl-8">O'quvchilarni kurs davomida ham kurslarni tugatgandan keyin ham qo'llab quvvatlash.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- FEATURED PRODUCT
    ================================================== -->
    <section class="pt-5 pb-9 pt-md-11 bg-dark bg-cover jarallax" data-jarallax data-speed=".8" style="background-image: url(assets/img/illustrations/illustration-3.svg)">
        <div class="container" id="course">
            <div class="text-center mb-5 mb-md-8">
                <h1 class="text-white mb-1">Kurslar</h1>
                <p class="font-size-lg text-capitalize">Bizning kurslar bilan mukammal loyihalarni yarating.</p>
            </div>
 
            <div class="mx-n4 flickity-button-outset" data-flickity='{"pageDots": false, "prevNextButtons": true, "cellAlign": "left", "wrapAround": true, "imagesLoaded": true}'>
                
                <% for (let item of course) { %>
                <div class="col-12 col-md-6 col-xl-4 pb-4 pb-md-7" style="padding-right:15px;padding-left:15px;">
                    <!-- Card -->
                    <div class="card border rounded-xl shadow p-2 sk-fade">
                        <!-- Image -->
                        <div class="card-zoom position-relative">
                            <div class="badge-float sk-fade-top top-0 right-0 mt-4 me-4">
                               
                            </div>

                            <a href="/courseSingle/<%= item._id %>" class="card-img sk-thumbnail d-block">
                                <img class="rounded shadow-light-lg" src="/uploads/course/<%= item.image %>" alt="...">
                            </a>

                        </div>

                        <!-- Footer -->
                        <div class="card-footer px-2 pb-2 mb-1 pt-4 position-relative">
                            
                            <!-- Preheading -->
                            <a href="/courseSingle/<%= item._id %>"><span class="mb-1 d-inline-block text-gray-800"><%= item.name %></span></a>

                            <!-- Heading -->
                            <div class="position-relative">
                                <a href="/courseSingle/<%= item._id %>" class="d-block stretched-link">
                                    <h4 class="line-clamp-2 h-md-48 h-lg-58 me-md-6 me-lg-10 me-xl-4 mb-2"><%= item.title %></h4>
                                </a>

                                <div class="row mx-n2 align-items-end mt-8">
                                    <div class="col px-2">
                                        <ul class="nav mx-n3">
                                            <li class="nav-item px-3">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 d-flex icon-uxs text-secondary">
                                                        <!-- Icon -->
                                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M17.1947 7.06802L14.6315 7.9985C14.2476 7.31186 13.712 6.71921 13.0544 6.25992C12.8525 6.11877 12.6421 5.99365 12.4252 5.88303C13.0586 5.25955 13.452 4.39255 13.452 3.43521C13.452 1.54098 11.9124 -1.90735e-06 10.0197 -1.90735e-06C8.12714 -1.90735e-06 6.58738 1.54098 6.58738 3.43521C6.58738 4.39255 6.98075 5.25955 7.61414 5.88303C7.39731 5.99365 7.1869 6.11877 6.98502 6.25992C6.32752 6.71921 5.79178 7.31186 5.40787 7.9985L2.8447 7.06802C2.33612 6.88339 1.79688 7.26044 1.79688 7.80243V16.5178C1.79688 16.8465 2.00256 17.14 2.31155 17.2522L9.75312 19.9536C9.93073 20.018 10.1227 20.0128 10.2863 19.9536L17.7278 17.2522C18.0368 17.14 18.2425 16.8465 18.2425 16.5178V7.80243C18.2425 7.26135 17.704 6.88309 17.1947 7.06802ZM10.0197 1.5625C11.0507 1.5625 11.8895 2.40265 11.8895 3.43521C11.8895 4.46777 11.0507 5.30792 10.0197 5.30792C8.98866 5.30792 8.14988 4.46777 8.14988 3.43521C8.14988 2.40265 8.98866 1.5625 10.0197 1.5625ZM9.23844 18.1044L3.35938 15.9703V8.91724L9.23844 11.0513V18.1044ZM10.0197 9.67255L6.90644 8.54248C7.58164 7.51892 8.75184 6.87042 10.0197 6.87042C11.2875 6.87042 12.4577 7.51892 13.1329 8.54248L10.0197 9.67255ZM16.68 15.9703L10.8009 18.1044V11.0513L16.68 8.91724V15.9703Z" fill="currentColor"/>
                                                        </svg>

                                                    </div>
                                                  <div class="font-size-sm"><%= item.lesson %> dars</div>
                                                </div>
                                            </li>
                                            <li class="nav-item px-3">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 d-flex icon-uxs text-secondary">
                                                        <!-- Icon -->
                                                        <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M14.3164 4.20996C13.985 4.37028 13.8464 4.76904 14.0067 5.10026C14.4447 6.00505 14.6667 6.98031 14.6667 8C14.6667 11.6759 11.6759 14.6667 8 14.6667C4.32406 14.6667 1.33333 11.6759 1.33333 8C1.33333 4.32406 4.32406 1.33333 8 1.33333C9.52328 1.33333 10.9543 1.83073 12.1387 2.77165C12.4259 3.00098 12.846 2.95296 13.0754 2.66471C13.3047 2.37663 13.2567 1.95703 12.9683 1.72803C11.5661 0.613607 9.8016 0 8 0C3.58903 0 0 3.58903 0 8C0 12.411 3.58903 16 8 16C12.411 16 16 12.411 16 8C16 6.77767 15.7331 5.60628 15.2067 4.51969C15.0467 4.18766 14.6466 4.04932 14.3164 4.20996Z" fill="currentColor"/>
                                                            <path d="M7.99967 2.66663C7.63167 2.66663 7.33301 2.96529 7.33301 3.33329V7.99996C7.33301 8.36796 7.63167 8.66663 7.99967 8.66663H11.333C11.701 8.66663 11.9997 8.36796 11.9997 7.99996C11.9997 7.63196 11.701 7.33329 11.333 7.33329H8.66634V3.33329C8.66634 2.96529 8.36768 2.66663 7.99967 2.66663Z" fill="currentColor"/>
                                                        </svg>

                                                    </div>
                                                    <div class="font-size-sm"><%= item.lessontime %> oy</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-auto px-2 text-right">
                                        
                                            <ins class="h4 mb-0 d-block mb-lg-n1">
                                                <a href="/courseSingle/<%= item._id %>" class="more_course_info"></a>
                                                    Batafsil
                                                </a>
                                            </ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
                
            </div>
        </div>
    </section>

    <!-- CALL ACTION
    ================================================== -->
    <section class="py-6 py-md-12 jarallax" data-jarallax="" data-speed=".8" style="background-image: url(assets/img/illustrations/illustration-5.jpg)">
        <div class="container text-center py-xl-7 text-capitalize" data-aos="fade-up">
            <h1>Cheksiz O'rganish , Ko'proq Imkonyatlar</h1>
            <div class="font-size-lg mb-md-6 mb-4">Savollaringiz Bo'lsa Aloqaga Chiqing.</div>
            <div class="mx-auto">
                <a href="#contact" class="btn btn-dark btn-x-wide lift d-inline-block rounded-xl">Bog'lanish</a>
            </div>
        </div>
    </section>

     <!-- INSTRUCTORS
    ================================================== -->
    <section class="py-5 py-md-11" id="team">
        <div class="container">
            <div class="row align-items-end mb-3 mb-md-5" data-aos="fade-up">
                <div class="col-md mb-4 mb-md-0">
                    <h1 class="mb-1">Bizning Jamoa</h1>
                    <p class="font-size-lg mb-0 text-capitalize">Bizning jamoamizga qo'shiling.</p>
                </div>
                <div class="col-md-auto">
                    <a href="instructors-list-v1.html" class="d-flex align-items-center fw-medium">
                        Ko'proq
                        <div class="ms-2 d-flex">
                            <!-- Icon -->
                            <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.7779 4.6098L3.32777 0.159755C3.22485 0.0567475 3.08745 0 2.94095 0C2.79445 0 2.65705 0.0567475 2.55412 0.159755L2.2264 0.487394C2.01315 0.700889 2.01315 1.04788 2.2264 1.26105L5.96328 4.99793L2.22225 8.73895C2.11933 8.84196 2.0625 8.97928 2.0625 9.1257C2.0625 9.27228 2.11933 9.4096 2.22225 9.51269L2.54998 9.84025C2.65298 9.94325 2.7903 10 2.9368 10C3.0833 10 3.2207 9.94325 3.32363 9.84025L7.7779 5.38614C7.88107 5.2828 7.93774 5.14484 7.93741 4.99817C7.93774 4.85094 7.88107 4.71305 7.7779 4.6098Z" fill="currentColor"></path>
                            </svg>

                        </div>
                    </a>
                </div>
            </div>

            <div class="mx-n3 mx-md-n4" data-flickity='{"pageDots": false,"cellAlign": "left", "wrapAround": true, "imagesLoaded": true}'>
                <% for (let item of team) { %> 
                <div class="col-6 col-md-4 col-lg-3 text-center py-5 text-md-left px-3 px-md-4" data-aos="fade-up" data-aos-delay="50">
                    <div class="card border shadow p-2 lift">
                        <!-- Image -->
                        <div class="card-zoom position-relative" style="max-width: 250px;">
                            <div class="card-float card-hover right-0 left-0 bottom-0 mb-4">
                                <ul class="nav mx-n4 justify-content-center">
                                    <li class="nav-item px-4">
                                        <a href="<%= item.facebook %>" target="_blank" class="d-block text-white">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item px-4">
                                        <a  href="<%= item.telegram %>" target="_blank" class="d-block text-white">
                                            <i class="fab fa-telegram"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item px-4">
                                        <a href="<%= item.instagram %>" target="_blank" class="d-block text-white">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item px-4">
                                        <a href="<%= item.website %>" target="_blank" class="d-block text-white">
                                            <i class="fab fa-chrome"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <a href="/teamSingle/<%= item.id %>" class="card-img sk-thumbnail img-ratio-4 card-hover-overlay d-block">
                                <img class="rounded shadow-light-lg img-fluid" src="/uploads/team/<%= item.image %>" alt="..."></a>
                        </div>

                        <!-- Footer -->
                        <div class="card-footer px-3 pt-4 pb-1">
                            <a href="<%= item._id %>" class="d-block"><h5 class="mb-0"><%= item.name %></h5></a>
                            <span class="font-size-d-sm"><%= item.job %></span>
                        </div>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
    </section>

    <!-- TESTIMONIAL
    ================================================== -->
   
     <!-- Gallery PAGE TITLE
    ================================================== -->
    <header class="py-8 py-md-11" style="background-image: none;" >
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">Gallery</h1>
        </div>
        <!-- Img -->
        <img class="d-none img-fluid" src="..." alt="...">
    </header>

     <!-- GALLERY
    ================================================== -->
    <div class="container">
        <!-- Nav -->
        <ul class="nav justify-content-center course-tab-v1 border-bottom h4 mb-8">
            <li class="nav-item">
                <a href="#" class="nav-link active" data-bs-toggle="pill" data-filter="*" data-target="#gallery">
                    Hammasi
                </a>
            </li>
        </ul>

        <div id="gallery" class="row row-cols-md-3 mb-8 mb-md-11" data-isotope='{"layoutMode": "masonry"}'>
            <% for (let item of gallery) { %>
            <div class="col-md mb-6 business">
                <!-- Image -->
                <a class="card-hover-overlay rounded overflow-hidden d-block position-relative" href="/uploads/gallery/<%= item.image %>" data-fancybox="" data-width="1110" data-height="810">
                    <img src="/uploads/gallery/<%= item.image %>" class="img-fluid rounded" alt="...">

                    <div class="center position-absolute hover-visible z-index-1">
                        <div class="mb-4 text-white">
                            <!-- Icon -->
                            <svg width="30" height="30" viewbox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23.3272 10.8975H20.6028V16.5998H14.8105V19.4059H20.6028V25.1982H23.3272V19.4059H29.1113V16.5998H23.3272V10.8975Z" fill="currentColor"></path>
                                <path d="M21.9604 0C11.9957 0 3.91267 8.07486 3.91267 18.0478C3.91267 22.4411 5.48346 26.4662 8.09327 29.5996L0.509281 37.11C-0.16976 37.789 -0.16976 38.8117 0.509281 39.4907C1.18832 40.1698 2.21097 40.1698 2.89001 39.4907L10.4413 31.9395C13.5665 34.5329 17.5753 36.0873 21.9522 36.0873C31.917 36.0873 40 28.0125 40 18.0396C40 8.06668 31.9251 0 21.9604 0ZM21.9604 32.7739C13.8283 32.7739 7.23424 26.1799 7.23424 18.0478C7.23424 9.91563 13.8283 3.32157 21.9604 3.32157C30.0926 3.32157 36.6866 9.91563 36.6866 18.0478C36.6866 26.1799 30.0926 32.7739 21.9604 32.7739Z" fill="currentColor"></path>
                            </svg>

                        </div>
                    </div>
                </a>
            </div>
            <%}%>
        </div>
    </div>

<!-- CONTACT
    ================================================== -->
    <div class="container contact_section">
        <div class="row row-cols-md-2 mb-8 mb-lg-11">
            <div class="col-md">
                <h1 class="mb-6">Bog'lanish uchun</h1>

                <div class="row row-cols-12 row-cols-xl-2">
                   
                    <div class="col-xl mb-6">
                        <div class="media d-flex">
                            <div class="me-5">
                                <!-- Icon -->
                                <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.9679 25C17.1609 25 16.3607 24.8573 15.5783 24.5731C12.1313 23.3209 8.93169 21.2814 6.32535 18.6751C3.71901 16.0688 1.67955 12.8692 0.427403 9.42217C0.0250265 8.31441 -0.0937186 7.1709 0.074585 6.02329C0.232245 4.94833 0.648634 3.90477 1.27878 3.00539C1.91172 2.10206 2.75553 1.35073 3.71897 0.832632C4.74637 0.280164 5.86775 0 7.05208 0C7.42043 0 7.73877 0.257363 7.81597 0.617504L9.04218 6.33988C9.0977 6.599 9.01806 6.86862 8.83072 7.05601L6.73544 9.15124C8.71202 13.0811 11.9193 16.2883 15.8491 18.2649L17.9444 16.1696C18.1318 15.9823 18.4014 15.9028 18.6605 15.9582L24.3829 17.1844C24.7431 17.2616 25.0004 17.5799 25.0004 17.9483C25.0004 19.1326 24.7202 20.2541 24.1677 21.2815C23.6496 22.2449 22.8983 23.0887 21.9949 23.7216C21.0956 24.3518 20.052 24.7682 18.977 24.9258C18.6402 24.9753 18.3034 25 17.9679 25ZM6.42789 1.59661C4.8657 1.76907 3.47913 2.58788 2.55837 3.90204C1.52296 5.37976 1.28152 7.19731 1.89595 8.88875C4.30327 15.5157 9.48475 20.6972 16.1117 23.1045C17.8031 23.719 19.6207 23.4776 21.0984 22.4421C22.4126 21.5213 23.2314 20.1348 23.4039 18.5726L18.7487 17.5751L16.5605 19.7633C16.3277 19.9961 15.9739 20.058 15.6759 19.9179C11.0282 17.7344 7.26604 13.9723 5.08253 9.32452C4.94255 9.02653 5.00436 8.67274 5.23721 8.43994L7.42541 6.25175L6.42789 1.59661Z" fill="currentColor"/>
                                </svg>

                            </div>
                            <div class="media-body flex-shrink-1">
                                <h5 class="mb-4">Telefon:</h5>
                                <a href="tel:+998 88 153 33 03" class="text-gray-800 d-block">+998 88 153 33 03</a>
                    
                            </div>
                        </div>
                    </div>

                    <div class="col-xl mb-6">
                        <div class="media d-flex">
                            <div class="me-5">
                                <!-- Icon -->
                                <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.99974 3.0083C5.79444 3.0083 2.37305 6.42973 2.37305 10.635C2.37305 14.8405 5.79448 18.2619 9.99974 18.2619C14.2053 18.2619 17.6264 14.8405 17.6264 10.635C17.6264 6.42973 14.205 3.0083 9.99974 3.0083ZM9.99974 16.8797C6.55666 16.8797 3.7555 14.0783 3.7555 10.6353C3.7555 7.19219 6.55662 4.39103 9.99974 4.39103C13.4428 4.39103 16.244 7.19219 16.244 10.6353C16.244 14.0785 13.4428 16.8797 9.99974 16.8797Z" fill="currentColor"/>
                                    <path d="M12.1193 10.4048H10.2761V7.73202C10.2761 7.35022 9.9666 7.04077 9.5848 7.04077C9.20301 7.04077 8.89355 7.35022 8.89355 7.73202V11.0961C8.89355 11.4779 9.20301 11.7873 9.5848 11.7873H12.1194C12.5012 11.7873 12.8106 11.4779 12.8106 11.0961C12.8106 10.7143 12.5011 10.4048 12.1193 10.4048Z" fill="currentColor"/>
                                    <path d="M6.08489 15.5823C5.80102 15.3267 5.36391 15.35 5.10864 15.6336L3.0349 17.9378C2.77935 18.2214 2.80263 18.6585 3.08627 18.9138C3.2183 19.033 3.38372 19.0915 3.54849 19.0915C3.73767 19.0915 3.92614 19.0143 4.06255 18.8625L6.13629 16.5583C6.3918 16.2746 6.36852 15.8375 6.08489 15.5823Z" fill="currentColor"/>
                                    <path d="M16.9661 17.9381L14.8924 15.634C14.6375 15.3501 14.2002 15.327 13.9163 15.5826C13.6325 15.8379 13.6097 16.275 13.865 16.5586L15.9387 18.8628C16.0749 19.0144 16.2633 19.0916 16.4525 19.0916C16.6171 19.0916 16.7825 19.033 16.9147 18.9141C17.1986 18.6588 17.2214 18.2217 16.9661 17.9381Z" fill="currentColor"/>
                                    <path d="M5.96733 1.91597C4.59382 0.571053 2.3798 0.573123 1.03211 1.92105C0.361569 2.59132 -0.00479631 3.47819 4.74212e-05 4.41826C0.00512553 5.34705 0.373327 6.21665 1.03715 6.86689C1.17172 6.99845 1.34614 7.06411 1.52078 7.06411C1.69774 7.06411 1.87469 6.99638 2.00949 6.86181L5.9726 2.8987C6.10303 2.76808 6.17584 2.59085 6.17491 2.40632C6.17401 2.22171 6.09932 2.04523 5.96733 1.91597ZM1.5966 5.31939C1.45813 5.04037 1.38414 4.73162 1.38254 4.41088C1.37953 3.84315 1.60211 3.30581 2.00949 2.89843C2.41594 2.49222 2.95328 2.28921 3.49359 2.28921C3.80949 2.28921 4.12655 2.35855 4.4187 2.49726L1.5966 5.31939Z" fill="currentColor"/>
                                    <path d="M18.9673 1.92072C17.6194 0.573026 15.4053 0.570721 14.0318 1.91564C13.9 2.04489 13.8252 2.22142 13.8242 2.40595C13.8233 2.59052 13.8963 2.76794 14.0268 2.89833L17.9899 6.86144C18.1247 6.99648 18.3016 7.06398 18.4786 7.06398C18.6532 7.06398 18.8279 6.99831 18.9622 6.86628C19.6263 6.21628 19.9945 5.34672 19.9993 4.41789C20.0042 3.47809 19.6376 2.59122 18.9673 1.92072ZM18.4028 5.3193L15.5807 2.4972C16.3729 2.12114 17.3459 2.25458 17.9899 2.89856C18.3973 3.30594 18.6199 3.84301 18.6169 4.41102C18.6152 4.73152 18.5413 5.04051 18.4028 5.3193Z" fill="currentColor"/>
                                </svg>

                            </div>
                            <div class="media-body flex-shrink-1">
                                <h5 class="mb-4">Ish soatlari:</h5>
                                <p class="mb-0">Dush-Shan: 8:00 - 20:00</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl mb-6">
                        <div class="media d-flex">
                            <div class="me-5">
                                <!-- Icon -->
                                <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.3651 20H2.50025L9.0205 18.581C9.1475 18.5599 9.26518 18.5011 9.3583 18.4121L20.4055 7.36492C21.2125 6.55966 21.6627 5.46438 21.6555 4.32443C21.657 3.17561 21.2082 2.07199 20.4055 1.25011C19.6003 0.44311 18.505 -0.00714406 17.365 0.000162955C16.2177 -0.00998926 15.1173 0.45462 14.3245 1.28393L3.311 12.3311C3.21388 12.4093 3.14307 12.5154 3.10828 12.6351L1.68943 19.1554C1.6507 19.3895 1.72596 19.628 1.89215 19.7973C2.01689 19.9246 2.18689 19.9974 2.3651 20ZM17.365 1.35151C18.9882 1.35138 20.3042 2.66722 20.3043 4.29048C20.3043 4.30179 20.3043 4.31311 20.3041 4.32443C20.3152 5.09774 20.0101 5.84209 19.4596 6.3852L15.3042 2.19602C15.8516 1.652 16.5931 1.34808 17.365 1.35151ZM14.3582 3.1758L18.5136 7.33116L8.88528 16.9257L4.72992 12.804L14.3582 3.1758ZM4.1894 14.1555L7.53394 17.5L3.24343 18.446L4.1894 14.1555Z" fill="currentColor"/>
                                    <path d="M23.8175 23.6486H1.18251C0.809333 23.6486 0.506836 23.9511 0.506836 24.3243C0.506836 24.6975 0.809333 25 1.18251 25H23.8175C24.1907 25 24.4932 24.6975 24.4932 24.3243C24.4932 23.9511 24.1907 23.6486 23.8175 23.6486Z" fill="currentColor"/>
                                </svg>

                            </div>
                            <div class="media-body flex-shrink-1">
                                <h5 class="mb-4">Bizga yozing:</h5>
                                <a href="https://t.me/Tasnim_operator" class="text-gray-800">Telegram: @Tasnim_operator</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl mb-6">
                        <div class="media d-flex">
                            <div class="me-5">
                                <!-- Icon -->
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.0283 6.25C14.3059 6.25 12.9033 4.84833 12.9033 3.125C12.9033 1.40167 14.3059 0 16.0283 0C17.7509 0 19.1533 1.40167 19.1533 3.125C19.1533 4.84833 17.7509 6.25 16.0283 6.25ZM16.0283 1.25C14.995 1.25 14.1533 2.09076 14.1533 3.125C14.1533 4.15924 14.995 5 16.0283 5C17.0616 5 17.9033 4.15924 17.9033 3.125C17.9033 2.09076 17.0616 1.25 16.0283 1.25Z" fill="currentColor"/>
                                    <path d="M16.0283 20C14.3059 20 12.9033 18.5983 12.9033 16.875C12.9033 15.1517 14.3059 13.75 16.0283 13.75C17.7509 13.75 19.1533 15.1517 19.1533 16.875C19.1533 18.5983 17.7509 20 16.0283 20ZM16.0283 15C14.995 15 14.1533 15.8408 14.1533 16.875C14.1533 17.9092 14.995 18.75 16.0283 18.75C17.0616 18.75 17.9033 17.9092 17.9033 16.875C17.9033 15.8408 17.0616 15 16.0283 15Z" fill="currentColor"/>
                                    <path d="M3.94531 13.125C2.22275 13.125 0.820312 11.7233 0.820312 10C0.820312 8.27667 2.22275 6.875 3.94531 6.875C5.66788 6.875 7.07031 8.27667 7.07031 10C7.07031 11.7233 5.66788 13.125 3.94531 13.125ZM3.94531 8.125C2.91199 8.125 2.07031 8.96576 2.07031 10C2.07031 11.0342 2.91199 11.875 3.94531 11.875C4.97864 11.875 5.82031 11.0342 5.82031 10C5.82031 8.96576 4.97864 8.125 3.94531 8.125Z" fill="currentColor"/>
                                    <path d="M6.12066 9.39154C5.90307 9.39154 5.69143 9.27817 5.57729 9.0766C5.40639 8.77661 5.51061 8.39484 5.8106 8.22409L13.5431 3.81568C13.8422 3.64325 14.2247 3.74823 14.3947 4.04914C14.5656 4.34912 14.4614 4.73075 14.1614 4.90164L6.42888 9.30991C6.33138 9.36484 6.22564 9.39154 6.12066 9.39154Z" fill="currentColor"/>
                                    <path d="M13.8524 16.2665C13.7475 16.2665 13.6416 16.2398 13.5441 16.1841L5.81151 11.7757C5.51152 11.6049 5.40745 11.2231 5.5782 10.9232C5.74818 10.6224 6.12996 10.5182 6.42994 10.6899L14.1623 15.0981C14.4623 15.269 14.5665 15.6506 14.3958 15.9506C14.2807 16.1531 14.0691 16.2665 13.8524 16.2665Z" fill="currentColor"/>
                                </svg>

                            </div>
                            <div class="media-body flex-shrink-1">
                                <h5 class="mb-4">Bizni kuzatib boring:</h5>
                                <!-- Social -->
                                <ul class="list-unstyled list-inline list-social mb-4 mb-md-0 mx-n4">
                                    <li class="list-inline-item list-social-item">
                                        <a href="https://www.facebook.com/tasnim.texnologiya.akademiyasi" class="text-secondary font-size-sm w-36 h-36 shadow-dark-hover d-flex align-items-center justify-content-center rounded-circle border-hover">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item list-social-item">
                                        <a href="https://t.me/Tasnim_Texnologiya_Akademiyasi" class="text-secondary font-size-sm w-36 h-36 shadow-dark-hover d-flex align-items-center justify-content-center rounded-circle border-hover">
                                            <i class="fab fa-telegram"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item list-social-item">
                                        <a href="https://www.instagram.com/tasnim_texnologiya_akademiyasi/" class="text-secondary font-size-sm w-36 h-36 shadow-dark-hover d-flex align-items-center justify-content-center rounded-circle border-hover">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md" id="contact">
                <h1 class="mb-6">Savolingiz bormi?</h1>
                <form action="/message/add" method="POST"  class="row">
                    <div class="form-group mb-6 col-xl-6">
                        <label for="exampleInputTitle1">Ism</label>
                        <input name="name" required="true" type="text" class="form-control placeholder-1" id="exampleInputTitle1" placeholder="Ismingizni yozing">
                    </div>

                    <div class="form-group mb-6 col-xl-6">
                        <label for="exampleInputTitle2">Telefon</label>
                        <input name="phone" required="true" type="number" class="form-control placeholder-1" id="exampleInputTitle2" placeholder="Telefon raqamingizni yozing">
                    </div>

                    <div class="form-group mb-6 col-12">
                        <label for="exampleFormControlTextarea1">Savolingiz</label>
                        <textarea name="message" required="true" class="form-control placeholder-1" id="exampleFormControlTextarea1" rows="6" placeholder="Savolingiz yozing"></textarea>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block mw-md-300p">Jo'natish</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="mb-8 mb-md-11 rounded overflow-hidden grayscal-hover">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3176.623158688292!2d67.29549691465459!3d37.23291985092242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f352dcefcfeb38b%3A0x58e8467e8dc4dd9d!2sTasnim%20Texnologiya%20Akademiyasi!5e0!3m2!1sen!2s!4v1637483892966!5m2!1sen!2s"width="1200" height="550"  style="border:0;width: 100%;"allowfullscreen="" tabindex="0" aria-hidden="false" ></iframe>
        </div>
    </div>


   